==
<table class="table table-striped">
    <thead>
        <tr>
        
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Balance</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        
            <td>1</td>
            <td>Full Name</td>
            <td>Email</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Balance</td>
            <td>Note</td>
        </tr>
    </tbody>
</table>